@import '../../style/variables.scss';

.app {
  background-image: url('../../assets/images/bgThemeBlack.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  transition: background-image 1s ease;

}

.light {
  background-image: url('../../assets/images/bgThemeLight.png');
  @media screen and (max-width: 480px) {
    background-color: #b7ae9a;
    background-image: none;
  }
}

.dark {
  background-image: url('../../assets/images/bgThemeBlack.png');

  @media screen and (max-width: 480px) {
    background-color: #232323;
    background-image: none;
  }
}