@import '../../style/variables.scss';

.champ-info {
  display: flex;
  width: 59vw;
  background-color: black;
  opacity: 0.8;
  border-radius: 4%;
  margin: 200px auto;
  overflow: hidden;
  animation: fadeInPage 1s ease-in;

  @media screen and (max-width: 2200px) {
    margin-top: 70px;
  }

  @media screen and (max-width: 1300px) {
    width: 70vw;
  }

  @media screen and (max-width: 878px) {
    width: 80vw;
  }

  @media screen and (max-width: 776px) {
    flex-direction: column;
  }

  .champ-image {
    width: 45%;
    background-size: cover;
    background-position: center;
    border-radius: 5%;

    @media screen and (max-width: 2200px) {
      width: 30%;
    }

    @media screen and (max-width: 1180px) {
      margin: 0 auto;
      width: 35%;
    }

    @media screen and (max-width: 776px) {
      height: 400px;
      width: auto;
      margin-top: 30px;
    }

    @media screen and (max-width: 350px) {
      height: 300px;
    }
  }

  .champ-wrapper {
    padding: 3vw 2vw;
    text-align: center;

    .name {
      color: $gold-color;
      font-size: 46px;

      @media screen and (max-width: 1255px) {
        font-size: 26px;
      }
    }

    .title {
      margin-top: 15px;
      color: $gold-color;
      font-size: 36px;

      @media screen and (max-width: 2200px) {
        font-size: 28px;
      }
    }

    >p {
      margin-top: 28px;
      color: #F0E6D2;
      padding: 0 10px;
      font-size: 28px;

      @media screen and (max-width: 2200px) {
        font-size: 15px;
      }

      @media screen and (max-width: 468px) {
        margin-top: 8px;

      }
    }
  }

  .skill-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 0 10px;

    .skill-item {
      margin-right: 2vw;

      >p {
        color: $gold-color;
        font-size: 22px;

        @media screen and (max-width: 2200px) {
          font-size: 12px;
        }

        @media screen and (max-width: 446px) {
          font-size: 8px;
        }
      }
    }

    .skill-image {
      width: 70px;
      height: 70px;
      border-radius: 50%;

      @media screen and (max-width: 1180px) {
        width: 50px;
        height: 50px;
      }

      @media screen and (max-width: 446px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  @keyframes fadeInPage {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.7;
    }
  }
}

.not-found {
  width: 20vw;
  background-color: black;
  opacity: 0.7;
  border-radius: 4%;
  margin: 150px auto;
  font-size: 36px;
  text-align: center;
  padding-bottom: 10px;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  font-size: 36px;
  margin-top: 20px;
  padding: 5px 5px;

  @media screen and (max-width: 2200px) {
    font-size: 24px;
  }

  &:hover {
    text-decoration: underline;
    transition: 0.5s ease-in-out;
  }
}