@import '../../style/variables.scss';

.champions-list {
  display: flex;
  flex-direction: column;
  margin: 0 13vw;

  .logo {
    width: 17vw;
    height: auto;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
    animation: fadeIn 3s forwards, pulseLogo 6s infinite ease-in-out;
    opacity: 0;

    @media screen and (max-width: 2000px) {
      width: 27vw;
    }

    @media screen and (max-width: 768px) {
      width: 40vw;
    }
  }

  .champions-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 2vw;

    .champion-item {
      position: relative;
      text-align: center;
      margin: 0 auto;
      transition: transform 1s ease, opacity 2s ease;
      animation: fadeIn 2s ease-in-out;
      opacity: 0.8;
      overflow: hidden;


      &:hover {
        box-shadow: 3px 3px 5px rgba(219, 233, 246, 0.5);
        transform: scale(1.1);
        opacity: 1;
      }

      &:hover .champions-class-container {
        opacity: 1;
      }

      .champion-name {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: $gold-color;
        text-align: center;
        padding: 5px;
        word-wrap: break-word;

        >span {
          font-size: 12px;
          color: $gold-color;
        }
      }

      .champion-image {
        max-width: 250px;
        max-height: 300px;

        @media screen and (max-width: 430px) {
          width: 200px;
        }
      }

      .champions-class-container {
        position: absolute;
        flex-direction: row;
        display: flex;
        top: 8px;
        left: 8px;
        opacity: 0;
        transition: opacity 0.8s ease;
        align-items: center;
        gap: 4px;

        .champion-class-image {
          width: 25px;
          height: 25px;
        }

        .champion-class-name {
          font-size: 12px;
          color: $gold-color;
        }
      }
    }
  }
}

.ended {
  width: 100vw;
  height: 60px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 5s infinite ease-in-out;
  opacity: 0.8;

  >p {
    text-align: center;
    font-size: 32px;

    background: linear-gradient(90deg, rgba(200, 170, 110, 0.5) 0%, rgba(237, 214, 159, 1) 50%, rgba(200, 170, 110, 0.5) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $gold-color;
  }
}

@keyframes pulseLogo {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
.arrow {
  position: fixed;
  bottom: 2vw;
  right: 40px;

  background-color: transparent;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  color: #f0dcb4;

  &:hover {
    animation: rotate 1s ease-in-out forwards;
    box-shadow: 0 0 10px 5px rgba(219, 233, 246, 0.5);
  }

  @media screen and (max-width: 750px) {
    right: 30px;
  }
  
  @media screen and (max-width: 550px) {
    right: 20px;
  }

  @media screen and (max-width: 473px) {
    right: 15px;
  }
}